name: Release Docker Image

on:
  push:
    tags:
      - 'v*'

jobs:
  build-publish-docker-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          path: benchmark

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker image Build and push
        run: |
          cd benchmark
          docker build . -f docker/Dockerfile.build -t ${{github.repository}}:${{github.ref_name}}
          docker push ${{github.repository}}:${{github.ref_name}}


